/* ========== SOBRE MÍ ========== */
.sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    background: var(--second-bg-color);
    padding: 10rem 9% 2rem;
}

.sobre-img {
    flex: 1;
    max-width: 40%;
    display: flex;
    justify-content: center;
}

.sobre-img img {
    width: 100%;
    max-width: 350px;
    height: auto;
    filter: drop-shadow(0 10px 30px rgba(255, 53, 252, 0.2));
    transition: all 0.3s ease;
}

.sobre-img img:hover {
    filter: drop-shadow(0 20px 40px rgba(245, 53, 255, 0.3));
    transform: scale(1.02);
}

.sobre-content {
    flex: 1;
    max-width: 60%;
}


.sobre-content h2 {
    text-align: left;
    line-height: 1.2;
    font-size: 4.5rem;
    margin-bottom: 2rem;
}

.sobre-content h3 {
    font-size: 2.6rem;
    margin-bottom: 2rem;
}

.sobre-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    line-height: 1.6;
    word-wrap: break-word;
}

@media (max-width: 991px) {
    .sobre {
        padding: 10rem 3% 2rem;
    }
}

@media (max-width: 768px) {
    .sobre {
        flex-direction: column-reverse;
        text-align: center;
        gap: 3rem;
    }

    .sobre-img,
    .sobre-content {
        max-width: 100%;
    }

    .sobre-content h2 {
        text-align: center;
    }
}

@media (max-width: 450px) {
    .sobre-content h2 {
        font-size: 3.5rem;
    }
}
